@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
}

.container #menu{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    /* display: none; */
    transition: all 1ms;
}

/*For navigation designing*/
.navigation{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* border: 2px solid red; */
    padding: 1.2rem;
    height: 100vh;
    width: 15vw;
    background-color: rgb(215, 207, 200);
    display: none;
    
}

#closebtn{
    position: absolute;
    margin-left: 10em;
}

.navigation .logo{
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 2px solid red; */
}

.navigation ul li{
    list-style: none;
    padding: 13px;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
}
.btns{
    margin-top: 7px;
}
.btn{
    background-color: rgb(54, 176, 237);
    padding: 4px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}


.main{
    height: 100vh;
    width: 85vw;  
    /* border: 2px solid blue;      */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin: auto;
    padding: 2rem;
    
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    flex-wrap: wrap;
    /* border: 2px solid black; */

}

.info{
    margin-top: 4em;
    /* border:2px solid green; */
    width: 50vw;
    
}

.info p{
    padding: 1rem 0;
}

.about{
    font-family: 'Yeon Sung', cursive;
    padding: 4px;
    font-size: 1.5rem;
}
.pic{
    /* border: 2px solid gray; */
}
img{
    height: 60vh;
    width: 60vh;
}

.progress-bar{}

.progress{
    padding: 1rem 0;
}

.progress .showprogress{
    padding: .2rem 0;
    width: 90%;
    height: .4rem;
    background-color: gainsboro;
    position: relative;
    border-radius: 1rem;

}

.progress .showprogress::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    border-radius: 1rem;
    height: 100%;
}

.showprogress1::after{
    width: 80%;
}

.showprogress2::after{
    width: 90%;
}

.showprogress3::after{
    width: 70%;
}

.showprogress4::after{
    width: 60%;
}

.showprogress5::after{
    width: 50%;
}