@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
}

.container #menu{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    /* display: none; */
    transition: all 1ms;
}

/*For navigation designing*/
.navigation{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* border: 2px solid red; */
    padding: 1.2rem;
    height: 100vh;
    width: 15vw;
    background-color: rgb(215, 207, 200);
    display: none;
    
}

#closebtn{
    position: absolute;
    margin-left: 10em;
}

.navigation .logo{
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 2px solid red; */
}

.navigation ul li{
    list-style: none;
    padding: 13px;
}

.navigation ul li a{
    text-decoration: none;
    color: black;
}
.btns{
    margin-top: 7px;
}
.btn{
    background-color: rgb(54, 176, 237);
    padding: 4px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}

.main{
    height: 100vh;
    width: 85vw;
    margin: auto;
}
.main .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .section h1{
    margin: 2rem 0;
}

.cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 75vw;
}
.card{
    box-shadow: 0 0 10px rgb(223, 230, 223);

}

.card img{
    width: 220px;
    height: 160px;
}

.card .title{
    margin: .7rem 0;
    
}

.card a{
    text-decoration: none;
    color: white;
    padding: .2rem;
    border-radius: 4px;
   background-color: rgb(17, 96, 214);
}



